
.flex-container {
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.box {
    height: 100px;
    width: 100px;
}

.blue {
    background: blue;
}

.red {
    background: red;
    align-self: flex-end;
}

.green {
    background: green;
}